html, body {
    margin: 0px;
    padding: 0px;
}

body{
    background: #eee;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
}

.form{
    border: solid gray 1px;
    border-radius: 5px;
    width: 85%;
    max-width: 450px;
    margin: 100px auto;
    background: white;
    padding: 20px;
}

input[type=text], input[type=password], button {
    width: 100%;
    padding: 12px 20px;
    margin: 8px auto;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 600;
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }